<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tarea de aplicaciones WEB</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Tablero de tarea</h1>
    <div class="tablero">
        <div class="fila_tablero">  
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>  
            </div>
        <div class="fila_tablero">
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
            <div class="cuadro_negro"></div>
            <div class="cuadro_blanco"></div>
        </div>
        <div class="fila_tablero">  
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>  
                </div>
            <div class="fila_tablero">
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
                <div class="cuadro_negro"></div>
                <div class="cuadro_blanco"></div>
            </div>
            <div class="fila_tablero">  
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>  
                    </div>
                <div class="fila_tablero">
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                    <div class="cuadro_negro"></div>
                    <div class="cuadro_blanco"></div>
                </div>
                <div class="fila_tablero">  
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>  
                        </div>
                    <div class="fila_tablero">
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                        <div class="cuadro_negro"></div>
                        <div class="cuadro_blanco"></div>
                    </div>
    </div>
    <footer><h3>Daniel Morales 30/05/2019</h3></footer>
</body>
</html>